* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1194px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.search-form {
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}

.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 13px;
    padding-bottom: 13px;
}

/*Убрать крестик, который стирает всю запись в поисковике*/
.search-input::-webkit-search-decoration,  
.search-input::-webkit-search-cancel-button, 
.search-input::-webkit-search-results-button, 
.search-input::-webkit-search-results-decoration {
	display: none;
}

.auth {
    margin-left: auto;
}

.search-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}

.login {
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    color: black;
}

.shopping-cart {
    position: relative;
    text-decoration: none;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.shopping-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFAF19;
    font-size: 8px;
    line-height: 9px;
    color: #000000;
    display: block;
    padding: 5px;
    border-radius: 50%;
}

.slide {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 100px; 
}

.slide-text-light {
    background-color: grey;
    color: white;
}

.slide-content {
    position: relative;
    max-width: 400px;
}

.slide-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}

.slide-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}

.button-primary {
    background: #F47322;
    color: #fff;
}

.button-default {
    background-color: #fff;
    color: #5F5F61;
}

.button {
    border-radius: 25px;
    padding: 12px 50px;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.slide-summer {
    background-image: url("../img/summer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.promo {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    max-width: 570px;
    width: 100%;
    min-height: 380px;
    display: flex;
    flex-direction: column;             
    justify-content: space-between;
}

.card::before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card-text-light {
    color: #fff;
}

.cart-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}

.card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 168px;
    max-height: 69px;
}

.card-price {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 8px;
}

.card-delivery {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}

.card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}