* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1194px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.search-form {
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
}

/*Убрать крестик, который стирает всю запись в поисковике*/
.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
    display: none;
}

.auth {
    margin-left: auto;
}

.search-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}

.login {
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    color: black;
}

.shopping-cart {
    position: relative;
    text-decoration: none;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.shopping-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFAF19;
    font-size: 8px;
    line-height: 9px;
    color: #000000;
    display: block;
    padding: 5px;
    border-radius: 50%;
}

.slide {
    position: relative;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
    border-radius: 20px;
    overflow: hidden;
}

.slide-text-light {
    background-color: grey;
    color: white;
}

.slide-content {
    position: relative;
    max-width: 500px;
}

.slider-buttons{
    position: absolute;
    right: 46px;
    bottom: 40px;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.slider-button {
    cursor: pointer
}

.swiper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
}

.slide-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}

.slide-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}

.button-primary {
    background: #F47322;
    color: #fff;
}

.button-default {
    background-color: #fff;
    color: #5F5F61;
}

.button {
    border-radius: 25px;
    padding: 12px 50px;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.slide-summer {
    background-image: url("../img/summer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-autumn {
    background-image: url("../img/autumn.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-vitamin {
    background-image: url("../img/vitamin.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.promo {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin: -20px;
}

.card {
    position: relative;
    border-radius: 20px;
    width: 50%;
    margin: 20px;
    overflow: hidden;
    padding: 32px;
    max-width: 570px;
    width: 100%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card::before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card-text-light {
    color: #fff;
}

.cart-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}

.card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 168px;
    max-height: 69px;
}

.card-price {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 8px;
}

.card-delivery {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}

.card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

.section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 47px;
}

.delivery-week {
    padding: 100px 0;
}

.delivery-cards {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.delivery-card {
    position: relative;
    width: 275px;
    height: 182px;
    border-radius: 18px;
    overflow: hidden;
    margin: 15px;
}

.delivery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delivery-tag {
    position: absolute;
    left: 10px;
    top: 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
    padding: 5px 10px;
}

.tag-health {
    background: #D0FD89;
}

.tag-veget {
    background: #AEBC41;
    color: #FFFFFF;
}

.tag-meat {
    background: #B86B78;
    color: #FFFFFF;
}

.tag-poultry {
    background: #D68334;
    color: #FFFFFF;
}

.tag-fish {
    background: #CD6255;
    color: #FFFFFF;
}

.tag-child {
    background: #FFFDBF;
}

.tag-parents {
    background: #F6FDC8;
}

.tag-festive {
    background: #FEF7FE;
}

.section-grey {
    background: #F6F6F6;
}

.category {
    padding-top: 40px;
    padding-bottom: 60px;
}

.tabs-content {
    display: flex;
    justify-content: space-between;
}

.tabs {
    display: flex;
    margin: 0;
    margin-bottom: 62px;
    padding: 0;
    list-style: none;

}

.tabs-link {
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #49494F;
    padding-right: 58px;
}

.tabs-link.active {
    color: #F37321;
}

.tabs-card {
    max-width: 270px;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.tabs-image {
    max-width: 100%;
}

.tabs-card-content {
    padding: 23px;
}

.tabs-title {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.tabs-description {
    color: #B9B9BE;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.tabs-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs-price {
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    display: block;
    margin-bottom: 5px;
}

.tabs-weight {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}

.button-outline {
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid #F37321;
    box-sizing: border-box;
    border-radius: 33px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F37321;
}

.button-center {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 315px;
    cursor: pointer;
}

.advantage-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 202px;
    max-width: 1191px;
}

.advantage-title {
    margin-top: 101px;
    margin-bottom: 52px;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
}

.advantage-image {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 34px;
}

.advantage-card {
    max-width: 270px;
    width: 100%;
    /* max-height: 296px; */
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    text-align: center;
    padding-right: 18.5px;
}

.advantage-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 13px;
    padding-left: 44px;
    padding-right: 38px;
}

.advantage-description {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #49494F;
    margin: 0;
    margin-bottom: 25px;
    padding: 0 23px;
}

.footer {
    background: #F6F6F6;
    padding: 40px 0;
}

.footer-wrapper {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 50px;
}

.footer-link {
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #000000;
    margin-right: 50px;
}

.social-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.social-link {
    margin-left: 20px;
    text-decoration: none;
}

@media (max-width: 1260px) {
    .container {
        max-width: 960px;
    }

    .search-form {
        margin-left: 40px;
        margin-right: 40px;
    }

    .tabs-content {
        flex-wrap: wrap;
    }

    .tabs-card {

        max-width: calc(50% - 30px);
    }
    
    .advantage-card {
        max-width: calc(50% - 30px);
        margin-bottom: 50px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .slide {
        padding: 70px;
    }

    .delivery-card {
        width: calc(50% - 30px);
    }
    
    .footer-logo {
        margin-right: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .header {
        flex-wrap: wrap;
    }

    .search-form {
        order: 5;
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .promo {
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }

    .delivery-card, 
    .tabs-card, 
    .advantage-card {
        max-width: 100%;
        width: 100%;
    }

    .slide {
        padding: 50px;
    }

    .slider-buttons {
        right: 10px;
        bottom: 10px;
    }
}